body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #031321;
    font-family: "League Spartan", sans-serif;
    color: #ffffff;
}

.feedback-container {
    text-align: center;
    background: #04293a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-size: 16px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input {
    height: 40px;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    padding: 10px;
    font-size: 18px;
    color: #04293a;
    background: #21ebff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #19c7d8;
}